footer{
    background-color: white;
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.column{
    width: 300px;
}

.columns{
    display: flex;
    gap: 100px;
    justify-content: center;
    padding: 30px;
}

.bottom{
    width: 100%;
    text-align: center;
    color: grey;
}